doctype html
html
	head
		meta(charset="UTF-8")
		title Email Confirmation
	body
		p Click the following link to confirm your email:
		a(href=confirmationUrl)= confirmationUrl
		|  
		span(style="font-size: 12px;") (This is one-time use only. The link will expire in 1 hour.)
		p If you did not request this email you can safely ignore it.

